* {
  box-sizing: border-box;
}
.tarolo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 25% 25% 25%;
}
.fejlec{ margin: auto;
font-size: 10px;}
h1 {
  font-size: 50px;
  border: 25px solid white;
  border-radius: 10px;
  margin: auto;
  text-decoration: dashed;
}
h1 :hover {color:aqua}

h2 {font-size: 25px;
    text-decoration: dotted;
}
.egy {
  background-color: blue;
  color: azure;
}
.ketto {
  background-color: blueviolet;
  color: black;
}
.harom {
  background-color: yellow;
  color: black;
}
@media screen and (max-width: 600px) {

    .tartalom{
     
        grid-template-columns: 1fr}
    }